# Environment / secrets
.env

# Database
gaash.db
*.db

# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Testing / tooling
.pytest_cache/
.mypy_cache/

# VS Code local settings
.vscode/

# OS files
.DS_Store
Thumbs.db

Pasted text.txt
*.jpeg
python-3.11.6-amd64.exe
jk_chatbot_ytci_dib_training_dataset.json